<nav>
        <a href="/auth/home">Homepage</a> | 
        <a href="/songs/browse">Browse Songs</a> |
        <a href="/genres/browse">Browse Genres</a> |
        <a href="/artists/browse">Browse Artists</a> |
        <a href="/artists/following">Following Artists</a> |
        <a href="/playlists/manage-list">Manage Playlists</a> |
        <% if (isAdmin) { %>
            <a href="/songs/manage-songs">Manage Songs</a> |
        <% } %>
        <% if (isAdmin) { %>
            <a href="/artists/manage">Manage Artists</a> |
        <% } %>
        <% if (isAdmin) { %>
            <a href="/genres/manage">Manage Genres</a> |
        <% } %>
        <a href="/auth/profile">My Profile</a> |
        
        <a href="/auth/logout">Logout</a>
</nav>

<hr>

<img src="/images/spotify_logo.png" alt="logo" height="80" width="250">