<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Artist</title>
</head>
<body>
    <!-- Mandatory Navigation -->
    <%- include('partials/nav') %>
    
    <h1>Add a New Artist</h1>

    <% if (msg) { %>
        <p><%= msg %></p>
    <% } %>

    <form action="/artists/create" method="post">
        <label>Artist Name: </label><br>
        <input type="text" name="artistName" required><br><br>

        <label>Select Artist Genres: </label> <br>
        <% genres.forEach(genre => { %>
            <input type="checkbox" name="artistGenre" value="<%= genre._id %>">
            <label><%= genre.genreName %></label><br>
        <% }) %><br>

        <label>Artist Biography: </label><br>
        <textarea name="artistBio" rows="4" cols="30"></textarea><br><br>

        <label>Artist Country: </label> <br>
        <input type="text" name="artistCountry" required><br><br>

        <label>Popularity Rating (1-100):</label><br>
        <input type="number" name="artistPopularity" min="1" max="100" value="50"><br><br>

        <button type="submit">Add Artist</button> | 
        <a href="/artists/manage">Cancel</a>
    </form>
</body>
</html>