<!DOCTYPE html>
<html>
    <body>
        <!-- Mandatory Navigation -->
        <%- include('partials/nav') %>
        
        <h1>ERROR HAS OCCURRED</h1>
        <%= error %>
    </body>
    <!-- Footer -->
    <%- include('partials/footer') %>
</html>