<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
</head>
<body>
    <h1>This is the Registration Page</h1>
    <a href="/index.html">Back to Home</a>

    <form action="/auth/register" method="POST">
    <label>Username:</label>
    <input type="text" name="username" required>
    
    <label>Email:</label>
    <input type="email" name="email" required>
    
    <label>Password:</label>
    <input type="password" name="password" required>
    
    <label>Confirm Password:</label>
    <input type="password" name="confirmPassword" required>
    
    <label>Date of Birth:</label>
    <input type="date" name="dob" required>
    
    <button type="submit">Create Account</button>
</form>
</body>
</html>